<div class="card my-4 mx-4" style="width: 370px;">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2" *ngIf="!connected">
                <button class="btn btn-success" (click)="connect()">Connect</button>
            </li>
            <li class="nav-item" *ngIf="connected">
                <button class="btn btn-warning" (click)="disconnect()">Disconnect</button>
            </li>
        </ul>
    </div>
    <div *ngIf="connected" class="card-body" style="overflow-y: scroll; height: 360px;">
        <ul class="list-group list-group-flush">
            <li *ngFor="let m of messages" class="list-group-item list-group-item-light">
                {{m.date | date: 'shortTime'}}: {{m.message}}
            </li>
        </ul>
    </div>
    <div *ngIf="connected" class="card-footer">
        <form class="form-inline mx-3">
            <div class="form-group">
                <input name="message" type="text" [(ngModel)]="message.message" placeholder="Write your message..." class="form-control">
            </div>
            <button class="btn btn-primary" (click)="send()">Send</button>
        </form>
    </div>
</div>