<div class="card my-4 mx-4" style="width: 370px;">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2">
                <button class="btn btn-success">Connect</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-warning">Disconnect</button>
            </li>
        </ul>
    </div>
    <div class="card-body" style="overflow-y: scroll; height: 360px;"></div>
    <div class="card-footer">
        <form class="form-inline mx-3">
            <div class="form-group">
                <input type="text" placeholder="Write your message..." class="form-control">
            </div>
            <button class="btn btn-primary">Send</button>
        </form>
    </div>
</div>